@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}
/* primary button */
.primary-btn {
    width: 120px;
    height: 40px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

/* button hover */
.primary-btn:hover{
    background: #53a7ea;
}
/* nav bar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF4E7;
    padding-top: 30px;
}
.nav-logo{
    width: 25%;
    font-size: 30px;
}
.nav-menu{
    list-style: none;
    display: flex;
    width: 25%;
    justify-content: space-around;
    
}
.nav-menu a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
}

/* home page */
.home-page{
    background-color: #FFF4E7;
    padding-top: 70px;
}

.home-title, .home-desc{
    text-align: center;
    margin: auto;
}
.home-title{
    font-size: 64px;
    padding-bottom: 30px;
}
.banner-img img{
    width: 1100px;
    height: 500px;
    display: block;
    margin: auto;
    padding: 50px 0px;

}
.home-desc{
    width: 50%;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 30px;
}
.home-btn{
    display: flex;
    margin: auto;
    background-color: #FF900E;
    justify-content: center;
}

/* feature-1 section */
.feature-list{
    display: flex;
    padding: 80px;
    justify-content: space-around;
    align-items: center;
}

.feature-img{
    width: 50%;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.feature-desc{
    width: 25%;
    padding-left: 30px;
    display: block;
    justify-content: center;
    align-items: center;
}

.feature-title{
    font-size: 45px;
    padding-bottom: 24px;
}

.feature-desc .span1{
    color: #727272;
}
.feature-desc .span2{
    color: #FF900E;
}

.feature-tite-desc {
    font-size:  16px;
    line-height: 26px;
    padding-bottom: 32px;
}
.feature-btn{
    background-color: #FF900E;
}

/* feature-2 section */
.various-features{
    display: flex;
    padding: 50px 90px;
    gap: 80px;
}

.features2-title{
    font-size: 45px;
    line-height: 52px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    margin-bottom: 24px;
}
.features2-desc{
    font-size: 16px;  
    line-height:  26px;
    color: #727272;
    margin-bottom: 30px ;
}

.feature {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}
.feature-head{
    margin-bottom: 10px;
}

.feature-info {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    row-gap: 100px;
}
.feature2-img img{
    width: 600px;
}

.feature2-btn{
    height: 130px;
    width: 200px;
    background-color: #FF900E;
    color: white;
    border: none;
    font-size: 32px;
    line-height: 30px;
    padding: 25px;
    border-radius: 10px;
}
.feature2-btn-span{
    font-size: 15px;
}
.features-btn{
    margin: -150px 600px;
}

/* some facts section */
.some-facts{
    margin-top: 200px;
    padding: 0px 90px;
}
.some-facts-title{
    font-size: 40px;
    margin-bottom: 24px;
}
.some-facts-info{
    font-size: 16px;
    color: #727272;
    width: 50%;
    margin-bottom: 80px;
}
.some-facts-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    
}
.fact-img{
    border: 1px solid #FF900E;
    padding: 20px;
    text-align: center;
    width: 50%;
}

/* animation */
.fact-img:hover{
    transform: scale(1.2);
}
.fact-img h4{
    font-size: 35px;
}
.fact-img h4, p{
    margin-top: 15px;
}
/* team member */
.team{
    margin-top: 100px;
}
.team h3{
    font-size: 40px;
    text-align: center;
}
.members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    margin: 30px 0px;
}

.member img{
    border-radius: 100px;
}
.member{
    border: 1px solid #FF900E;
    border-radius: 100px 100px 0px 0px;
}
.member p{
    font-size: 20px;
}

/* sponsor section */
.our-sponsor{
    text-align: center;
    margin-top: 100px;
}
.sponsor-title{
    font-size: 40px;
}

.sponsor-description{
    color: #727272;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px 0px;
}

/* footer */
.footer{
    height: 20px;
    width: 75%;
    padding: 10px;
    display: flex;
    margin: auto; 
    justify-content: center; 
    background-color: #ffe5c5;
}